.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 0.9rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 0.5rem;
    padding-left: 0;

    & > li {
      margin: 0.5rem 0;
      .section > .desc {
        > h4 {
          margin: 0;
          font-size: 0.85rem;
          > a {
            background-color: transparent;
          }
        }
        > .date {
          margin: 0;
          line-height: 1.2;
          color: var(--gray);
          font-weight: normal;
          font-size: 0.8rem;
          opacity: 0.7;
        }
      }
    }
  }
}
