.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 0.9rem;
    font-weight: 100;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 0.5rem;
    padding-left: 0;

    & > li {
      margin: 0.75rem 0;
    }
  }
}
